.move_left {
	@include animation(slideLeft, 1s, cubic-bezier(0.565, -0.295, 0.445, 1.325), 0);
}

.move_right {
	@include animation(slideRight, 1s, cubic-bezier(0.565, -0.295, 0.445, 1.325), 0);
}



.content_container{
	position: relative;
	z-index: 1;
	background-color: $dark;

	padding-bottom: $gridheight*10;
}

.content_info_title{
	margin-right: 30px;
}

.content_header{
	padding-top: 10px;
	padding-left: $gridheight * 6;
	background-color: $lite-brown;
	height: $header_height;
}

.content_location_map_overlay {
	@include clearfix();
   background:transparent; 
   position:relative; 
   // width:640px;
   // height:480px; /* your iframe height */
   // top:480px;  /* your iframe height */
   // margin-top:-480px;  /* your iframe height */
}