.header_background{
	height: $header_height;
	//@include addBorder($gold, $width: 1px, $bottom: true);
	//background-color: $lite-brown;
}

.header_logo {
	 height: $header_height - ($gridheight * 6);
	 padding-top: $gridheight * 6;
	 padding-left: $gridheight * 6;
}


.header_logo_container {

}