.nav_menu {
	position: fixed;
	margin-top: $header_height;

	@include respond ($tablet){
		margin-top: 0px;
		//margin-left: 195px;
		position: relative;
		line-height: $header_height;
	}
}

.nav_item {

	text-decoration: none;

}

.nav_item_container--first{
	@include addBorder($gold, $width: 1px, $top: true);


}

.nav_item_container {
	display: block;
	text-align: center;
	
	height: $gridheight * 20;
	line-height: $gridheight *20;
	
	@include addBorder($gold, $width: 1px, $bottom: true);

	@include respond ($tablet){
		border: none;
		line-height: $header_height;
	}
}

.nav_btn_container{
	height: $header_height;
}

.nav_btn {

	position: fixed;
	z-index: 10;
	top: $gridheight * 6;
	right: $gridheight * 6;

	background-color: transparent;
	border: none;
	width: $nav_button_size ;
	height: $nav_button_size;

	outline: none;

	&:active,
	&.active {
	border: none;
	outline: none;
	background-color: transparent;

	&:focus {
	  color: $dark-green;
	  outline: none;
	}

	}

	&:hover {
	background-color: transparent;

		> .nav_btn_line {
			 border: 1px solid black;	
		  }
	}

	&:focus {
		background-color: transparent;
	  	outline: none;
	}

	@include respond ($tablet){
		display: none;
	}
}

// Bars
// Code used from Bootstrap _navbar.scss
.nav_btn_line {
	display: block;
	background-color: $off-white;
	width: 100%;
	height: 5px;
	border-radius: 3px;
}

.nav_btn_line + .nav_btn_line {
	margin-top: 15px;
}

.nav_item_container {
	text-align: center;
}


